extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg2.descripcion)
block titulo 
  title=seo.pg2.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg2.h1
    .row.mt-4
      .col-lg-8
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_4%2Fpupi.png?alt=media&token=7fdfc1ac-50ad-45f0-9132-50a7cde6da6a', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.fw-bold.txt-justify
          | Interesante Simposio Logístico organizado por STG Southern Technology Group, que tuvo 3 bloques con temas de suma actualidad: Almacenes Inteligentes, E-Commerce y última Milla, con la participación de destacados profesionales de Perú, Chile y Argentina, nos deja importantes conceptos de la actualidad de la logística en la región, que compartimos en este artículo.
        ol
          li.txt-justify.mb-2
            | Hoy la 
            h3.fw-bold.fs-6.d-inline Logística 
            |  y las áreas de Logística de las empresas se han vuelto muy importantes por las exigencias del mercado en cuanto a oportunidad y tiempos de respuesta.
          li.txt-justify.mb-2
            | Es muy necesaria la
            h3.fw-bold.fs-6.d-inline  coordinación y conexión 
            |  entre todos los actores de la cadena logística para ser más eficientes.
          li.txt-justify.mb-2
            | Utilizar 
            h3.fw-bold.fs-6.d-inline códigos únicos 
            |  y universales de producto facilita el manejo logístico con todo el mundo.
          li.txt-justify.mb-2
            | La inversión en
            h3.fw-bold.fs-6.d-inline  tecnología 
            | (software, dispositivos, etc.) es ineludible.
          li.txt-justify.mb-2
            | La tecnología debe permitir
            h3.fw-bold.fs-6.d-inline  visibilidad 
            | de las operaciones a lo largo de la cadena en tiempo real.
          li.txt-justify.mb-2
            | La tecnología debe ser
            h3.fw-bold.fs-6.d-inline  escalable 
            | para ir creciendo de acuerdo a las necesidades y se debe tener cuidado con la compatibilidad de los equipos y el software.
          li.txt-justify.mb-2
            | La tendencia es a utilizar
            h3.fw-bold.fs-6.d-inline  soluciones
            | , integrando software con dispositivos y procesos. Una opción son los
            h3.fw-bold.fs-6.d-inline  SaaS
            | , que permiten convertir Capex en Opex.
          li.txt-justify.mb-2
            | La ventana de tiempo para el
            h3.fw-bold.fs-6.d-inline  picking
            |  se ha reducido debido al incremento del e-commerce y se ha multiplicado el
            h3.fw-bold.fs-6.d-inline  picking unitariopara 
            | última milla, generándose un gran volumen de picking unitario.
          li.txt-justify.mb-2
            | Para lograr buenos tiempos de picking se requiere tener
            h3.fw-bold.fs-6.d-inline  visibilidad del inventario
            |  en tiempo real, un buen
            h3.fw-bold.fs-6.d-inline  sloting 
            | y operarios con 
            h3.fw-bold.fs-6.d-inline manos libres 
            | (en un escenario sin robótica en los almacenes).
          li.txt-justify.mb-2
            | Se requiere un buen
            h3.fw-bold.fs-6.d-inline  WMS, comunicación 
            | en tiempo real y
            h3.fw-bold.fs-6.d-inline  procesos ágiles.
          li.txt-justify.mb-2
            | Hoy se cuenta con tecnología que permite utilizar 
            a.text-dark(href='apuntes-del-simposio-logistico-organizado-por-stg.html')
              h3.fw-bold.fs-6.d-inline  RFID, voice picking y visual picking
            |  entre otros.
          li.txt-justify.mb-2
            | Es necesario un
            h3.fw-bold.fs-6.d-inline  microfulfillment,
            |  cumpliendo con picking unitario en minutos para lo cual se debe hacer
            h3.fw-bold.fs-6.d-inline  oleadas de picking 
            | cada 15 o 20 minutos.
          li.txt-justify.mb-2
            | Para una logística de
            h3.fw-bold.fs-6.d-inline  última milla 
            | eficiente se requiere tener visibilidad del inventario en tiempo real y una 
            h3.fw-bold.fs-6.d-inline "torre de control" 
            | que tenga visibilidad y control de toda la cadena logística.
          li.txt-justify.mb-2
            | Es necesario contar con una eficiente 
            a.text-dark(href='apuntes-del-simposio-logistico-organizado-por-stg.html')
              h3.fw-bold.fs-6.d-inline  logística inversa,
            |  para lo cual contar con un buen sistema de 
            a.text-dark(href='apuntes-del-simposio-logistico-organizado-por-stg.html')
              h3.fw-bold.fs-6.d-inline CRM
            | , una comunicación en línea con los clientes, un equipo preparado para atender la logística inversa y protocolos claros son muy importantes.
          li.txt-justify.mb-2
            | Un desafío que tiene el sector logístico regional es la implementación de
            h3.fw-bold.fs-6.d-inline  blockchain 
            | para las operaciones.
        p.txt-justify
          | Para ampliar cualquiera de los conceptos planteados, comuníquense con nosotros a través de nuestras redes sociales como
          a(href='https://www.facebook.com/anunalog/', target='__blank') anunalog
          | , nuestra página web:
          a(href='http://www.anunalog.com')  www.anunalog.com 
          | o nuestro correo electrónico: 
          a(href='mailto: hola@anunalog.com') hola@anunalog.com
        b.txt-justify
          i
            | Anunalog es un espacio para generar espíritu colaborativo en el sector logístico a través de:
            br
            ul
              li
                | La difusión de información de interés para el sector logístico.
              li
                | La plataforma digital que facilita la contratación de servicios de transporte de carga y de almacenamiento de una manera ágil, simple y confiable.
        b
          h2.fs-6.fw-bold ALEX KUDZUMA
        b
          h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')