extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg3.descripcion)
block titulo 
  title=seo.pg3.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg3.h1
    .row.mt-4
      .col-lg-8
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_5%2FScreen%20Shot%202021-11-15%20at%2017.41.34.png?alt=media&token=8867d26f-e0e3-439c-bd36-4b05a334d63d', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.fw-bold.txt-justify.text-p
          | En reciente conversatorio virtual organizado por Anunalog, con participación de Gabriel Graf, Director General de Negocios con amplia experiencia en el sector logístico, tratamos este tema de mucha actualidad y que genera problemas tanto a los operadores del puerto, a los transportistas, operadores logísticos, a las empresas exportadoras e importadoras y a la comunidad chalaca.
        h2.text-p.fw-bold Algunas de las causas de este problema son:
        ol.text-p
          li.txt-justify.mb-2
            | En los últimos años se ha incrementado notablemente la cantidad de camiones que ingresan al puerto debido a la llegada de naves de mayor capacidad y al incremento del 
            a.text-dark(href='buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html')
              h3.fw-bold.text-p.d-inline  movimiento de nuestro comercio exterior.
          li.txt-justify.mb-2
            | La espera de los transportistas para ingresar al puerto, genera largas colas en las avenidas de acceso al puerto, con la consecuente congestión del tráfico en la zona.
          li.txt-justify.mb-2
            | La falta de espacios para que los vehículos puedan estacionarse mientras esperan.
          li.txt-justify.mb-2
            | Avenidas de acceso y salida del puerto muy estrechas. La ampliación de la Av. Néstor Gambetta quedó muy chica.
          li.txt-justify.mb-2
            | Demoras en la atención de carga suelta y a granel en el puerto, por la necesidad de habilitar más muelles para atender este tipo de carga, a diferencia de la carga containerizada que se atiende con mayor rapidez.
          li.txt-justify.mb-2
            | El movimiento de contenedores vacíos que se genera debido a que nuestras importaciones utilizan contenedores de cierto tipo que no coinciden con los contenedores utilizados para nuestras exportaciones, produciéndose la necesidad de mover muchos contenedores vacíos, generando mayor tráfico.
        h2.text-p.fw-bold Algunas de las causas de este problema son:
        ol.text-p
          li.txt-justify.mb-2
            | En los últimos años se ha incrementado notablemente la cantidad de camiones que ingresan al puerto debido a la llegada de naves de mayor capacidad y al incremento del movimiento de nuestro comercio exterior.
          li.txt-justify.mb-2
            | La espera de los transportistas para ingresar al puerto, genera largas colas en las avenidas de acceso al puerto, con la consecuente congestión del tráfico en la zona.
          li.txt-justify.mb-2
            | La falta de espacios para que los vehículos puedan estacionarse mientras esperan.
          li.txt-justify.mb-2
            a.text-dark(href='buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html')
              h3.fw-bold.text-p.d-inline Avenidas de acceso y salida del puerto muy estrechas.
            |  La ampliación de la Av. Néstor Gambetta quedó muy chica.
          li.txt-justify.mb-2
            | Demoras en la atención de carga suelta y a granel en el puerto, por la necesidad de habilitar más muelles para atender este tipo de carga, a diferencia de la carga containerizada que se atiende con mayor rapidez.
          li.txt-justify.mb-2
            | El movimiento de contenedores vacíos que se genera debido a que nuestras importaciones utilizan contenedores de cierto tipo que no coinciden con los contenedores utilizados para nuestras exportaciones, produciéndose la necesidad de mover muchos contenedores vacíos, generando mayor tráfico.
        h2.text-p.fw-bold Buscando soluciones:
        ol.text-p
          li.txt-justify.mb-2
            | A largo plazo se debe buscar consenso entre los gremios de la cadena logística que interactúan con el puerto para plantear a los Gobiernos, Regional y Central, un proyecto de ampliación de las pistas de acceso al puerto con vías exclusivas, de un solo sentido, generando un circuito de ingreso y salida de unidades y evitando cruces entre camiones de ambos operadores del puerto. También se deberían establecer carriles diferenciados de acuerdo al tipo de carga que se moviliza (contenedor, carga suelta o granel).
          li.txt-justify.mb-2
            | Mejorar el sistema de citas para la atención en el puerto y que se respeten los horarios para evitar que los camiones se queden afuera haciendo cola por varias horas.
          li.txt-justify.mb-2
            | La programación con los clientes es muy importante, no solo programar para el día, sino para 3 a 5 días, actualizando cada momento con las citas en coordinación con los agentes de aduana, almacenes, transportistas y clientes. Se requiere el compromiso decidido de todos para el cumplimiento de esta programación que redundará en beneficio de todos.
          li.txt-justify.mb-2
            a.text-dark(href='buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html')
              h3.fw-bold.text-p.d-inline
                | Una comunicación permanente y un centro de monitoreo de las unidades de transporte
            |  facilitará la llegada de las unidades al puerto a la hora debida.
          li.txt-justify.mb-2
            | Utilizar tecnología disponible y ahora a costos accesibles como GPS, botón de pánico, trabas de motor, etc. como medidas preventivas de seguridad.
          li.txt-justify.mb-2
            | Instalar más cámaras de seguridad en las avenidas de acceso al puerto (Atalaya, Manco Capac, Argentina) y realizar coordinaciones con serenazgo y policía para disminuir los riesgos de robos.
          li.txt-justify.mb-2
            | Una mayor utilización, con mayor frecuencia de naves, en el puerto de Pisco/Paracas, y en el futuro en Chancay, para tener alternativas al puerto del Callao.
          li.txt-justify.mb-2
            | Repensar el Zona de Actividad Logística que se desestimó por su inviabilidad tal como inicialmente se presentó, para lo cual se debe analizar las áreas cercanas al puerto, que podrían cambiar de uso y las actividades que se podrían realizar en ellas.
        b.text-p
          i
            | Anunalog es un espacio para generar espíritu colaborativo en el sector logístico a través de:
            br
            ul
              li.txt-justify.mb-2 La difusión de información de interés para el sector logístico.
              li.txt-justify.mb-2
                | La plataforma digital que facilita la contratación de servicios de transporte de carga y de almacenamiento de una manera ágil, simple y confiable.
        b
          h2.fs-6.fw-bold ALEX KUDZUMA
        b
          h2.fs-6.fw-bold.mb-2 CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')