extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg7.descripcion)
block titulo 
  title=seo.pg7.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg7.h1
    .row.mt-4
      .col-lg-8
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_12%2Fportada.jpeg?alt=media&token=cb6cb6b0-abc1-477b-b2c7-9cd3bc1f335c', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.txt-justify.text-p
          | Enero del 2020, &iexcl;qu&eacute; a&ntilde;o! &iquest;Se imaginan dejar la gerencia general de una empresa despu&eacute;s de haber trabajado en ella los &uacute;ltimos 25 a&ntilde;os? Al dejar Depsa, empresa del sector log&iacute;stico, lo &uacute;nico que ten&iacute;a claro era que no quer&iacute;a jubilarme, me sent&iacute;a con energ&iacute;a y entusiasmo para seguir aprendiendo y trabajando.
        p.txt-justify.text-p
          | Empec&eacute; a hacer asesor&iacute;as para empresas y fui descubriendo lo gratificante que es contribuir con otras empresas con la experiencia acumulada, disfrutar del trabajo en equipo y obtener buenos resultados.
        .txt-justify.mb-3.text-p
          | En paralelo tom&eacute; varios cursos online y a leer libros sobre 
          h3.fw-bold.text-p.d-inline
            a.text-dark(href='historia-de-anunalog.html') Transformaci&oacute;n Digital y Plataformas Digitales.
          |  Empec&eacute; a conocer un mundo nuevo, la aplicaci&oacute;n de metodolog&iacute;as &aacute;giles, modelos de negocio digitales, start ups, marketing digital, uso de redes sociales para los negocios.
        p.txt-justify.text-p
          | En todo este tiempo una frase siempre estaba dando vueltas en mi cabeza: &ldquo;esp&iacute;ritu colaborativo&rdquo;. Sab&iacute;a que lo que hiciera deb&iacute;a tener ese prop&oacute;sito.
        p.txt-justify.text-p
          | Convers&eacute; con Daniel, un experto en log&iacute;stica con quien ya hab&iacute;a trabajado y decidimos emprender nuestro proyecto: una plataforma digital para acercar a la oferta y la demanda de servicios log&iacute;sticos. Buscamos un desarrollador de tecnolog&iacute;a y a trav&eacute;s de Marcella, hija de un gran amigo, contactamos con Enrique, quien compr&oacute; la idea y se convertir&iacute;a en nuestro socio. Luego contact&eacute; con un amigo abogado, Ra&uacute;l, quien tambi&eacute;n se entusiasm&oacute; con el proyecto y decidi&oacute; convertirse en nuestro socio. Y finalmente contamos con el gran apoyo de Carla, quien con sus conocimientos y entusiasmo propios de la generaci&oacute;n millenial, es el contacto directo con los usuarios de la plataforma.
        .txt-justify.mb-3.text-p
          | As&iacute; naci&oacute; 
          h3.fw-bold.text-p.d-inline
            a.text-dark(href='historia-de-anunalog.html')  anunalog,
          |  que es fruto del feliz encuentro de talentosos profesionales, comprometidos y sobre todo buenas personas y creemos que ser&aacute; tambi&eacute;n la transformaci&oacute;n del sector log&iacute;stico, cambiando la forma c&oacute;mo contratar servicios log&iacute;sticos. Y hoy ustedes est&aacute;n contribuyendo a escribir la historia de 
          a.text-dark(href='historia-de-anunalog.html')
            h3.fw-bold.text-p.d-inline  anunalog.
          |  Muchas gracias por apoyarnos.
        h2.fs-6.fw-bold ALEX KUDZUMA
        h2.fs-6.fw-bold.mb-2 CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')