extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1 Últimas noticias sobre el blog
    .row.mt-4
      .col-lg-8
        +cardBlog('que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html',
                    'Noviembre 8, 2021',
                    '¿QUÉ TIPO DE VEHÍCULO NECESITO PARA MANTENER LA CADENA DE FRÍO?',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_1%2Fportada.jpg?alt=media&token=18a93082-e52e-4b16-a7cd-ca1348e246f8',
                    '¿QUÉ TIPO DE VEHÍCULO NECESITO PARA MANTENER LA CADENA DE FRÍO?')
        +cardBlog('nuevas-tendencias-en-gestion-de-almacenes.html',
                    'Agosto 13, 2021',
                    'NUEVAS TENDENCIAS EN GESTIÓN DE ALMACENES',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_2%2Fportada.jpg?alt=media&token=746b7f66-31b3-48e2-9639-0756ce975d92',
                    'NUEVAS TENDENCIAS EN GESTIÓN DE ALMACENES')
        +cardBlog('la-necesidad-de-transformarnos.html',
                  'Agosto 13, 2021',
                  'LA NECESIDAD DE TRANSFORMARNOS',
                  'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_3%2Fportada.jpg?alt=media&token=b15d85a4-7226-4def-a664-144ca28a5ac8',
                  'LA NECESIDAD DE TRANSFORMARNOS')
        #collapseBlog.collapse
          +cardBlog('apuntes-del-simposio-logistico-organizado-por-stg.html',
                  'Julio 22, 2021',
                  'APUNTES DEL SIMPOSIO LOGÍSTICO ORGANIZADO POR STG',
                  'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_4%2Fportada.png?alt=media&token=2e18e949-334f-4315-b9b7-3b407310c698',
                  'APUNTES DEL SIMPOSIO LOGÍSTICO ORGANIZADO POR STG')
          +cardBlog('buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html',
                    'Junio 25, 2021',
                    'BUSCANDO SOLUCIONES AL PROBLEMA DEL TRÁFICO DE CAMIONES EN EL PUERTO DEL CALLAO',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_5%2FScreen%20Shot%202021-11-15%20at%2017.41.34.png?alt=media&token=8867d26f-e0e3-439c-bd36-4b05a334d63d',
                    'BUSCANDO SOLUCIONES AL PROBLEMA DEL TRÁFICO DE CAMIONES EN EL PUERTO DEL CALLAO')
          +cardBlog('las-habilidades-digitales-del-profesional-logistico.html',
                    'Junio 18, 2021',
                    'LAS HABILIDADES DIGITALES DEL PROFESIONAL LOGíSTICO',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_6%2Fdownload.webp?alt=media&token=f7f4f787-66ab-4be5-b924-bcb8a1ddc183',
                    'LAS HABILIDADES DIGITALES DEL PROFESIONAL LOGÍSTICO')        
          +cardBlog('liderazgo-empresarial-en-epoca-de-crisis-social-politica-y-economica.html',
                    'Mayo 31, 2021',
                    'LIDERAZGO EMPRESARIAL EN EPOCA DE CRISIS SOCIAL, POLÍTICA Y ECONÓMICA',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_7%2Fportada.png?alt=media&token=35f4e59e-a6aa-4116-a2ac-5fd36a1ea297',
                    'LIDERAZGO EMPRESARIAL EN EPOCA DE CRISIS SOCIAL, POLÍTICA Y ECONÓMICA')            
          +cardBlog('te-conviene-tercerizar-tus-almacenes.html',
                    'Mayo 25, 2021',
                    '¿TE CONVIENE TERCERIZAR TUS ALMACENES?',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_8%2Fportada.png?alt=media&token=0b26a2d0-7c91-47e6-84c0-4f5d207c1269',
                    '¿TE CONVIENE TERCERIZAR TUS ALMACENES?')
          +cardBlog('como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html',
                    'Mayo 7, 2021',
                    'Como proyectar un CDR o Centro de Distribución Refrigerado',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_9%2Fportada.jpeg?alt=media&token=a552dac0-3f41-423b-8351-1d11da15a1fb',
                    'Como proyectar un CDR o Centro de Distribución Refrigerado')  
          +cardBlog('es-momento-para-pensar-en-la-transformacion-digital-en-logistica.html',
                    'Abril 21, 2021',
                    '¿ES MOMENTO PARA PENSAR EN LA TRANSFORMACIÓN DIGITAL EN LOGISTICA?',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_10%2Fportada.png?alt=media&token=79ae9338-c7ef-4f14-b566-fe04e0f75d1a',
                    '¿ES MOMENTO PARA PENSAR EN LA TRANSFORMACIÓN DIGITAL EN LOGISTICA?')  
          +cardBlog('cuales-son-las-mejores-llantas-para-camiones-de-carga.html',
                    'Abril 21, 2021',
                    '¿CUÁLES SON LAS MEJORES LLANTAS PARA CAMIONES DE CARGA?',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_11%2Fportada.png?alt=media&token=b6c59c0f-21cd-472e-bdfb-7bcb9094284c',
                    '¿CUÁLES SON LAS MEJORES LLANTAS PARA CAMIONES DE CARGA?')  
          +cardBlog('historia-de-anunalog.html',
                    'Marzo 8, 2021',
                    'HISTORIA DE anunalog',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_12%2Fportada.jpeg?alt=media&token=cb6cb6b0-abc1-477b-b2c7-9cd3bc1f335c',
                    'HISTORIA DE anunalog')  
          +cardBlog('anunalog-acercando-los-eslabones.html',
                    'Noviembre 24, 2020',
                    'anunalog, ACERCANDO LOS ESLABONES',
                    'https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_13%2Fportada.webp?alt=media&token=705bf709-1134-48f6-9f80-c08251393cdf',
                    'anunalog, ACERCANDO LOS ESLABONES')  
          +cardBlog('la-forma-innovadora-de-buscar-transportes.html',
                    'sin fecha ',
                    'LA FORMA INNOVADORA DE BUSCAR TRANSPORTES',
                    'img/transporte-de-carga.jpg',
                    'LA FORMA INNOVADORA DE BUSCAR TRANSPORTES')  
          +cardBlog('la-forma-innovadora-de-buscar-almacenes.html',
                    'sin fecha',
                    'LA FORMA INNOVADORA DE BUSCAR ALMACENES',
                    'img/que-tipo-de-almacen-necesito.jpg',
                    'LA FORMA INNOVADORA DE BUSCAR ALMACENES')  
          +cardBlog('porque-ofrecer-mi-almacen-por-anunalog.html',
                    'sin fecha',
                    '¿Porqué ofrecer mi almacén por anunalog?',
                    'https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/ZYOR4GW3BBCLXD6T5CLHQKRESI.jpg',
                    '¿Porqué ofrecer mi almacén por anunalog?')    
        a#blog.btn.btn-primary.form-control.mb-4(data-bs-toggle='collapse', href='#collapseBlog', role='button', aria-expanded='false', aria-controls='collapseBlog')          
      include ../template/siderbar