extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg10.descripcion)
block titulo 
  title=seo.pg10.titulo
block contenido
  .container.border
    .header.mt-4
      h1=seo.pg10.h1
    .row.mt-4
      .col-lg-8
        .d-flex.mb-3
          img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_3%2Foruga_1.png?alt=media&token=e47deb97-423e-4d3f-aa6f-1c50b14212b2', alt='vehiculos isotermicos', width='33%', height='450px')
          img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_3%2Foruga_2.png?alt=media&token=775655f1-8701-43be-bfc6-91af5f903f8a', alt='vehiculos isotermicos', width='33%', height='450px')
          img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_3%2Foruga_3.png?alt=media&token=ea829187-bf26-476e-9af1-89118ff06bd0', alt='vehiculos isotermicos', width='33%', height='450px')
        .txt-justify.mb-3
          | Este a&ntilde;o tan extra&ntilde;o tuvimos nuevos e inesperados &ldquo;inquilinos&rdquo; en casa, que nos permitieron seguir de cerca el proceso de transformaci&oacute;n que tienen que pasar, de orugas a cris&aacute;lidas y luego a mariposas, que despu&eacute;s de unas horas salen volando libremente.
        .txt-justify.mb-3
          | Qu&eacute; incre&iacute;ble es la naturaleza por cierto y qu&eacute; sabia, porque nos permite ver el proceso y hacernos reflexionar sobre la 
          h3.fw-bold.fs-6.d-inline
            a.text-dark(href='la-necesidad-de-transformarnos.html') importancia y la necesidad de transformarnos.
        .txt-justify.mb-3
          | Transformaci&oacute;n es evoluci&oacute;n, es
          h3.fw-bold.fs-6.d-inline convertirnos en algo mejor 
          |  y con este enfoque,
          h3.fw-bold.fs-6.d-inline  Anunalog 
          |  nace para 
          a.text-dark(href='la-necesidad-de-transformarnos.html')
            h3.fw-bold.fs-6.d-inline
              | transformar la forma como los proveedores y clientes de servicios log&iacute;sticos se encontrar&aacute;n,
          |  haciendo que este proceso sea m&aacute;s r&aacute;pido, simple y confiable.
        .txt-justify.mb-3
          | Las empresas que requieren servicios de transporte y almacenamiento encontrar&aacute;n en 
          h3.fw-bold.fs-6.d-inline
            a.text-dark(href='la-necesidad-de-transformarnos.html') Anunalog la herramienta para trasformar su log&iacute;stica
          |  y a los proveedores les ofrece una alternativa digital para conseguir nuevos clientes.
        p.txt-justify.fw-bold
          | Anunalog promueve el esp&iacute;ritu colaborativo entre las empresas, transformando digitalmente la cadena de abastecimiento.
        h2.fs-6.fw-bold ALEX KUDZUMA
        h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')