extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg11.descripcion)
block titulo 
  title=seo.pg11.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg11.h1
    .row.mt-4
      .col-lg-8
        img.pb-4.pt-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_6%2Fdownload.webp?alt=media&token=f7f4f787-66ab-4be5-b924-bcb8a1ddc183', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        .txt-justify.mb-3.text-p
          | En reciente webinar presentado por
          h2.fw-bold.text-p.d-inline  Anunalog,
          |  nuestro expositor Alejandro Luna de Page Group, expuso sobre las habilidades digitales que hoy se demandan en el sector log&iacute;stico y sobre ellas quisi&eacute;ramos compartir algunas ideas que nos parecen muy importantes.
        ul.text-p
          li.txt-justify
            | Las caracter&iacute;sticas del mercado y sus requerimientos cambian a gran velocidad por lo que la 
            a.text-dark(href='las-habilidades-digitales-del-profesional-logistico.html')
              h3.fw-bold.text-p.d-inline ADAPTABILIDAD
            |  es una capacidad que todo profesional debe tener y para ello es fundamental que conozcan las herramientas digitales que pueden utilizar, como blockchain, IOT, automation, APIs, Saas, etc., pero sobre todo deben tener una mentalidad abierta y flexible para adaptarse a los cambios r&aacute;pidamente.
          li.txt-justify
            | La 
            a.text-dark(href='las-habilidades-digitales-del-profesional-logistico.html')
              h3.fw-bold.text-p.d-inline INVERSI&Oacute;N EN TECNOLOG&Iacute;A DIGITAL
            |  mal hecha puede ser peor que no hacerla, por lo tanto debemos planificar con mucho cuidado en qu&eacute; y para qu&eacute; queremos hacerla y evaluar las opciones disponibles para tomar la mejor decisi&oacute;n. Es indispensable invertir bien en la transformaci&oacute;n digital de nuestras empresas.
          li.txt-justify
            | La log&iacute;stica de hoy requiere 
            a.text-dark(href='las-habilidades-digitales-del-profesional-logistico.html')
              h3.fw-bold.text-p.d-inline OMNICANALIDAD
            |  para engranar con cualquier canal de la cadena de suministros de nuestros clientes, por lo tanto debemos estar preparados para atender esa variedad de canales, a trav&eacute;s de web, apps, canales tradicionales, etc.
          li.txt-justify
            | La explotaci&oacute;n de la 
            h3.fw-bold.text-p.d-inline INFORMACI&Oacute;N
            |  es cr&iacute;tica, aprovechando la cantidad de informaci&oacute;n que las ERP proporcionan, debemos tener la habilidad cr&iacute;tica de aprovecharla al m&aacute;ximo para encontrar las mejoras que podemos implementar en nuestros procesos y atender mejor las necesidades log&iacute;sticas de nuestros clientes.
        .txt-justify.mb-3
          | En
          h3.fw-bold.text-p.d-inline  Anunalog 
          |  estamos comprometidos con el desarrollo del esp&iacute;ritu colaborativo entre todos los actores de la cadena de suministros, compartiendo informaci&oacute;n de utilidad para los profesionales de la log&iacute;stica.        
        h2.fs-6.fw-bold ALEX KUDZUMA
        h2.fs-6.fw-bold.mb-2 CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')