extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg12.descripcion)
block titulo 
  title=seo.pg12.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg12.h1
    .row.mt-4
      .col-lg-8
        .txt-justify.mb-3
          | &ldquo;Cerca de 110 l&iacute;deres de diferentes sectores de nuestra sociedad: empresa privada, academia, medios de comunicaci&oacute;n, Estado y sociedad civil, incluyendo a varios millennials l&iacute;deres en sus sectores, participaron en las 10 mesas redondas organizadas por el movimiento 
          a.text-dark(href='liderazgo-empresarial-en-epoca-de-crisis-social-politica-y-economica.html')
            h3.fw-bold.fs-6.d-inline Capitalismo Consciente Per&uacute;
          |  entre diciembre 2020 y abril 2021, para compartir sus puntos de vista sobre c&oacute;mo aumentar el impacto positivo de las empresas mediante el ejercicio de un liderazgo consciente&rdquo;.
        img.my-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_7%2Fportada.png?alt=media&token=35f4e59e-a6aa-4116-a2ac-5fd36a1ea297', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.txt-justify
          | La noche del lunes 3 de mayo se presentaron las principales conclusiones de estas mesas en un muy interesante conversatorio con la participaci&oacute;n de ponentes de diversos sectores, edades y pensamientos: Carolina Trivelli, Fernando Carvallo, Alejandra Costa, Felipe Valencia-Dongo, Jorge Izusqui, Mariana Rodr&iacute;guez y &Aacute;lvaro Henzler, bajo la conducci&oacute;n de Jorge Medina de Capitalismo Consciente Per&uacute;.
        p.d-inline.txt-justify
          | De todas las ideas compartidas en el conversatorio quisiera destacar los
          h3.fw-bold.fs-6.d-inline  retos y desaf&iacute;os 
          | que el empresariado y los emprendedores peruanos tenemos que enfrentar.
        ol
          li.txt-justify
            h3.fw-bold.fs-6.d-inline  esfuerzos con otras empresas
            |  para generar un impacto positivo, los esfuerzos individuales no tienen gran impacto.
          li.txt-justify
            h3.fw-bold.fs-6.d-inline Construir narrativas
            |  por parte de las empresas de lo que han hecho exitosamente en casos concretos relacionados a temas como progreso, amor al pa&iacute;s, entre otros, mejorando la comunicaci&oacute;n 
            h3.fw-bold.fs-6.d-inline para mitigar la mala imagen
            |  que tiene una parte de la poblaci&oacute;n.
          li.txt-justify
            a.text-dark(href='')
              h3.fw-bold.fs-6.d-inline Cambiar la actitud del empresariado que est&aacute; muy a la defensiva
            | , abri&eacute;ndose a conocer otras visiones, dispuestos a entender las diferencias, conversar con quienes rechazan al empresariado.
          li.txt-justify
            | Necesidad de 
            h3.fw-bold.fs-6.d-inline recomponer directorios
            |  para tener una mayor diversidad de voces. Si todos piensan igual, no conseguiremos incorporar otras visiones.
          li.txt-justify
            | La supervivencia de las empresas depende de la contribuci&oacute;n que los stakeholders perciban, porque hay una 
            h3.fw-bold.fs-6.d-inline mayor conciencia de la interdependencia social
            |  y el impacto que las empresas generan.
          li.txt-justify
            | Para lograr un prop&oacute;sito superior debemos estar convencidos, desde el directorio y toda la empresa, del 
            h3.fw-bold.fs-6.d-inline impacto social que generamos
            | . Definir nuestro
            h3.fw-bold.fs-6.d-inline prop&oacute;sito es tener convicci&oacute;n de c&oacute;mo el mundo puede ser mejor
            |  con lo que hacemos.
          li.txt-justify
            | Es rol del directorio empujar el prop&oacute;sito y sus 
            h3.fw-bold.fs-6.d-inline mandatos deben estar alineados con el prop&oacute;sito.
          li.txt-justify
            | La creatividad y la innovaci&oacute;n dependen del 
            h3.fw-bold.fs-6.d-inline talento
            |  con el que contamos.
          li.txt-justify
            | La sociedad demanda un 
            h3.fw-bold.fs-6.d-inline cambio en el rol del gerente general
            | , m&aacute;s comprometido, salir de su burbuja para sentar una posici&oacute;n p&uacute;blica ante temas pol&iacute;ticos y sociales del pa&iacute;s, uniendo voces y acciones para impulsar pol&iacute;ticas sociales y valores positivos.
          li.txt-justify
            | Hay 
            a.text-dark(href='liderazgo-empresarial-en-epoca-de-crisis-social-politica-y-economica.html')
              h3.fw-bold.fs-6.d-inline 4 tipos de liderazgo empresarial:
            ol(type='a')
              li.txt-justify Movilizador, el que conecta y une.
              li.txt-justify
                | Transformador, ve un problema y se compromete a transformarlo con su talento, tiempo y dinero.
              li.txt-justify Defensor, habla, opina pero defensivamente, es poco emp&aacute;tico con la poblaci&oacute;n.
              li.txt-justify
                | Promotor, es promotor de su carrera, de su negocio, dando la espalda a los problemas del pa&iacute;s.
        p.fw-bold Necesitamos m&aacute;s l&iacute;deres Movilizadores y Transformadores.
        h2 POR D&Oacute;NDE EMPEZAR:
        ul
          li.txt-justify
            | Hay que trabajar un tema de 
            h3.fw-bold.fs-6.d-inline confianza
            |  para poder avanzar hacia el capitalismo consciente.
          li.txt-justify
            | Dejar esfuerzos individuales y 
            a.text-dark(href='liderazgo-empresarial-en-epoca-de-crisis-social-politica-y-economica.html')
              h3.fw-bold.fs-6.d-inline apoyar esfuerzos colectivos y de largo aliento
            |  (compromisos de 5 a 10 a&ntilde;os).
          li.txt-justify
            h3.fw-bold.fs-6.d-inline Escucharnos m&aacute;s y escuchar diferentes voces
            | , para entender otras visiones y establecer lazos de confianza.
        .txt-justify.mb-3
          | Gracias a Jorge Medina y a
          h3.fw-bold.fs-6.d-inline  Capitalismo Consciente Per&uacute; 
          | por la invitaci&oacute;n y por generar este espacio para la reflexi&oacute;n que debe llevar a la acci&oacute;n inmediata.
        h2.fs-6.fw-bold ALEX KUDZUMA
        h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')