extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg13.descripcion)
block titulo 
  title=seo.pg13.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg13.h1
    .row.mt-4
      .col-lg-8
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_2%2Fportada_inicio.png?alt=media&token=e6e8384d-4812-48c4-8bee-0002d70821e9', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.fw-bold.txt-justify.text-p
          | Presentamos las principales conclusiones del conversatorio organizado por Anunalog con la presentaci&oacute;n de Juan Antonio Angulo y la participaci&oacute;n de Daniel Medina y Alex Kudzuma de Anunalog, sobre las nuevas tendencias en la gesti&oacute;n de almacenes.
        ol.text-p
          li.txt-justify.mb-2
            | El comercio electr&oacute;nico ha 
            h3.fw-bold.text-p.d-inline revolucionado la log&iacute;stica. En nuestro pa&iacute;s el dram&aacute;tico incremento del comercio electr&oacute;nico por la pandemia aceler&oacute; la necesidad de transformaci&oacute;n.
          li.txt-justify.mb-2
            | &ldquo;&mldr;se debe poner las 
            h3.fw-bold.text-p.d-inline expectativas del consumidor en el centro de toda la estrategia de comercio electr&oacute;nico&rdquo; (Nabil Malouli, Global e-commerce Product Lead en DHL).
          li.txt-justify.mb-2
            | Hoy 
            h3.fw-bold.text-p.d-inline la log&iacute;stica se debe armar de adelante hacia atr&aacute;s, es decir, partiendo desde las expectativas del consumidor.
          li.txt-justify.mb-2
            | Los consumidores quieren una 
            h3.fw-bold.text-p.d-inline atenci&oacute;n inmediata con entrega a sus hogares, de modo que la cadena de suministros debe estar en capacidad de atender esta demanda.
          li.txt-justify.mb-2
            | En la cadena de almacenamiento de hoy pueden intervenir los 
            a.text-dark(href='nuevas-tendencias-en-gestion-de-almacenes.html')
              h3.fw-bold.text-p.d-inline almacenes de grandes vol&uacute;menes, los fullfilment centers y los dark stores. Cada uno con un tipo de servicio diferente, con infraestructura, equipos y personal especializados.
          li.txt-justify.mb-2
            | En cada eslab&oacute;n de esta cadena se debe tener 
            a.text-dark(href='nuevas-tendencias-en-gestion-de-almacenes.html')
              h3.fw-bold.text-p.d-inline informaci&oacute;n de inventarios en tiempo real
            |  para atender con agilidad los pedidos de los consumidores.
          li.txt-justify.mb-2
            | Es imprescindible el uso de 
            h3.fw-bold.text-p.d-inline software especializado como WMS o SGA
            | con autoaprendizaje y automatizaci&oacute;n del picking.
          li.txt-justify.mb-2
            | Veremos un incremento del 
            h3.fw-bold.text-p.d-inline uso de rob&oacute;tica y/o cob&oacute;tica en los pr&oacute;ximos a&ntilde;os, as&iacute; como un incremento de la 
            h3.fw-bold.text-p.d-inline explotaci&oacute;n de Big Data para la optimizaci&oacute;n de procesos.
          li.txt-justify.mb-2
            | Es muy necesaria la 
            h3.fw-bold.text-p.d-inline coordinaci&oacute;n, intercambio de informaci&oacute;n en l&iacute;nea y conexi&oacute;n
            |  entre todos los actores de la cadena log&iacute;stica para ser m&aacute;s eficientes, para lo cual la
            h3.fw-bold.text-p.d-inline Omnicanalidad
            |  es ineludible para todos.
          li.txt-justify.mb-2
            | El uso de 
            h3.fw-bold.text-p.d-inline RFID, Voice Picking y IOT
            |  seguir&aacute; creciendo.
          li.txt-justify.mb-2
            | La introducci&oacute;n de 
            h3.fw-bold.text-p.d-inline gamificaci&oacute;n en los almacenes
            |  para contrarrestar la baja productividad por procesos repetitivos.
          li.txt-justify.mb-2
            | Para ganar 
            h3.fw-bold.text-p.d-inline agilidad sin perder seguridad
            |  en los almacenes es importante contar con medidas de prevenci&oacute;n, incentivos por cero diferencias de inventarios, c&aacute;maras y otros dispositivos.
          li.txt-justify.mb-2
            | El 
            h3.fw-bold.text-p.d-inline dise&ntilde;o de los almacenes
            |  debe ser hecho por arquitectos junto con especialistas en log&iacute;stica, considerando que seg&uacute;n el tipo de servicio que atienda el dise&ntilde;o en cuanto a distribuci&oacute;n de &aacute;reas, alturas, pasillos, etc. ser&aacute; diferente.
          li.txt-justify.mb-2
            | El costo de la 
            h3.fw-bold.text-p.d-inline log&iacute;stica inversa
            |  es mucho mayor que el de entregas, por lo cual es importante disminuirla en lo posible y tener equipos, procesos y protocolos especializados para un eficiente manejo.
        p.txt-justify.text-p
          | Para ampliar cualquiera de los conceptos planteados, comun&iacute;quense con nosotros a trav&eacute;s de nuestras redes sociales como
          a(href='https://www.facebook.com/anunalog/', target='__blank') anunalog
          | , nuestra p&aacute;gina web:
          a(href='http://www.anunalog.com')  www.anunalog.com 
          | o nuestro correo electr&oacute;nico: 
          a(href='mailto: hola@anunalog.com') hola@anunalog.com
        b.txt-justify.text-p
          i
            | Anunalog es un espacio para generar esp&iacute;ritu colaborativo en el sector log&iacute;stico a trav&eacute;s de:
            br
            ul
              li
                | La difusi&oacute;n de informaci&oacute;n de inter&eacute;s para el sector log&iacute;stico.
              li
                | La plataforma digital que facilita la contrataci&oacute;n de servicios de transporte de carga y de almacenamiento de una manera &aacute;gil, simple y confiable.
        h2.fs-6.fw-bold ALEX KUDZUMA
        h2.fs-6.fw-bold.pb-2 CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')