extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg14.descripcion)
block titulo 
  title=seo.pg14.titulo
block contenido
  .container
    .container.mt-4
      img.my-3(src='https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/ZYOR4GW3BBCLXD6T5CLHQKRESI.jpg', alt='almacen', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
    .mt-4.mb-4.text-center
      h1=seo.pg14.h1
    .p-2.mt-2.mb-5.shadow-sm.rounded(style='background: rgb(214, 231, 238); color: rgb(24, 25, 31);') &iquest;Qu&eacute; beneficios te da trabajar con anunalog?
    .row.mt-2.mb-5
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-3
        .card.shadow.rounded
          img.card-img-top(src='https://cdn2.hubspot.net/hub/5621658/hubfs/Agilizar%20las%20labores%20contables%20de%20la%20empresa.jpg?width=800&name=Agilizar%20las%20labores%20contables%20de%20la%20empresa.jpg', alt='...', style='height: 10rem;')
          .card-body
            p.card-text
              | Ampl&iacute;a tu red de clientes: Accede a solicitudes de clientes que necesitan alquilar espacio en almac&eacute;n, al ser proveedor en anunalog, consigue m&aacute;s oportunidades de ganar clientes.
            a.btn.form-control.btn-dark.border-0(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfUrq0j91zK7YwqD3I42sul6WkIr4m2pP1pXBeD0s-aBJVYMw/viewform', style='background: rgb(26, 72, 142);') &Uacute;nete
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-3
        .card.shadow.rounded
          img.card-img-top(src='https://www.kyoceradocumentsolutions.es/renditions/content/dam/kyocera/es/images/hero/hero-1536x960-X%20consejos%20para%20agilizar%20y%20mejorar%20la%20tarea%20de%20contabilizar.jpg/jcr%3Acontent/renditions/cq5dam.resized.img.1536.large.time1574075382919.jpg', alt='...', style='height: 10rem;')
          .card-body
            p.card-text
              | Agiliza el flujo de tu negocio de almacenaje dentro de tus instalaciones.
              | Disminuye o elimina el tiempo en el que tus espacios est&aacute;n sin uso y genera ingresos.
            a.btn.form-control.btn-dark.border-0(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfUrq0j91zK7YwqD3I42sul6WkIr4m2pP1pXBeD0s-aBJVYMw/viewform', style='background: rgb(26, 72, 142);') &Uacute;nete
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-3
        .card.shadow.rounded
          img.card-img-top(src='https://blogs.iadb.org/ideas-que-cuentan/wp-content/uploads/sites/11/2020/09/crecimiento-eficiencia-infraestructura-servicios-America-Latina-Caribe-min.jpg', alt='...', style='height: 10rem;')
          .card-body
            p.card-text
              | Incrementa tu productividad: Gestiona tus operaciones de manera r&aacute;pida y sencilla. T&uacute; eliges qu&eacute; solicitudes de clientes ofertar de acuerdo a los requisitos de tu empresa.
            a.btn.form-control.btn-dark.border-0(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfUrq0j91zK7YwqD3I42sul6WkIr4m2pP1pXBeD0s-aBJVYMw/viewform', style='background: rgb(26, 72, 142);') &Uacute;nete
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-3
        .card.shadow.rounded
          img.card-img-top(src='https://img.freepik.com/foto-gratis/almacen-isla-gente_107420-13604.jpg?size=626&ext=jpg', alt='', style='height: 10rem;')
          .card-body
            p.card-text &iexcl;Disminuye el tiempo de tus almacenes vac&iacute;os e incrementa tus ganancias!
            a.btn.form-control.btn-dark.border-0(target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfUrq0j91zK7YwqD3I42sul6WkIr4m2pP1pXBeD0s-aBJVYMw/viewform', style='background: rgb(26, 72, 142);') &Uacute;nete