extends ../template/plantilla
block descripcion
  meta(name='description', content=seo.pg16.descripcion)
block titulo 
  title=seo.pg16.titulo
block contenido
  .container
    .header.mt-4
      h1=seo.pg16.h1
    .row.mt-4
      .col-lg-8
        p.txt-justify.text-p
          | La gesti&oacute;n de almacenes puede convertirse en un dolor de cabeza o en nuestra ventaja competitiva. Una de las preguntas que nos debemos hacer es: &iquest;debo manejar mi propio almac&eacute;n o es mejor tercerizarlo?
        p.txt-justify.text-p
          | La tercerizaci&oacute;n nos permite enfocarnos en nuestro core del negocio y dejar que los especialistas hagan la gesti&oacute;n de almacenes. Les invito a reflexionar sobre las consideraciones que debemos tener para tomar una buena decisi&oacute;n.
        img.mb-4.mt-2(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_8%2Fportada.png?alt=media&token=0b26a2d0-7c91-47e6-84c0-4f5d207c1269', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        ol.text-p
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline &iquest;El almac&eacute;n que usamos es alquilado o propio?
            |  Si es alquilado es un costo fijo mensual. Tercerizar el almacenamiento nos permite 
            h3.fw-bold.text-p.d-inline convertir un costo fijo en uno variable
            | , donde solo pagamos por el espacio que ocupamos. Si es propio, y decidimos tercerizar el almacenamiento, podemos destinar ese espacio para otras necesidades de la empresa o incluso vender esa &aacute;rea.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline &iquest;Cu&aacute;l es el volumen o stock que solemos manejar y cu&aacute;l es su rotaci&oacute;n?
            |  A mayores vol&uacute;menes o mayor rotaci&oacute;n seguramente necesitamos mayores &aacute;reas de almacenamiento para nuestros productos y al mismo tiempo puede demandar una mayor especializaci&oacute;n del personal a cargo del almac&eacute;n.
          li.txt-justify.mb-2
            a.text-dark(href='te-conviene-tercerizar-tus-almacenes.html')
              h3.fw-bold.text-p.d-inline
                | &iquest;Nuestro almac&eacute;n tiene el &aacute;rea suficiente para el almacenamiento propiamente dicho y para preparar los pedidos de nuestros clientes?
            |  Cuando dimensionamos nuestras necesidades de almacenamiento, no debemos olvidar que necesitamos un &aacute;rea para el picking, es decir para la preparaci&oacute;n de nuestros pedidos. Los almacenes cuentan con &aacute;reas de almacenamiento, picking, etiquetado, despacho, etc.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline &iquest;Tenemos diferencias de inventarios cada vez que hacemos un inventario f&iacute;sico?
            |  El almacenamiento no es nuestro core, no somos especialistas y podemos encontrarnos con diferencias de inventarios por diversas razones, errores en despacho, mal registro de ingresos y salidas, robos internos, etc.
          li.txt-justify.mb-2
            a.text-dark(href='te-conviene-tercerizar-tus-almacenes.html')
              h3.fw-bold.text-p.d-inline
                | &iquest;Dependemos de una persona para ubicar r&aacute;pidamente las mercader&iacute;as en nuestro almac&eacute;n?
            |  Puede pasar que solo nuestro almacenero conoce d&oacute;nde est&aacute; cada cosa y cuando &eacute;l falta nos podemos encontrar con serios problemas.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline
              | &iquest;Tenemos asegurada nuestra mercader&iacute;a contra riesgos de incendio, inundaciones, robos y otros riesgos?
            |  Estamos expuestos a riesgos de diferente tipo. Los almacenes formales responden por la mercader&iacute;a almacenada y cuentan con seguros contra todo riesgo.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline &iquest;Somos importadores y nuestro stock es para varios meses?
            |  Evaluemos el uso de los dep&oacute;sitos aduaneros, que son almacenes donde ingresa nuestra mercader&iacute;a sin pagar los derechos arancelarios. Podemos hacer retiros parciales de acuerdo a nuestras necesidades pagando tambi&eacute;n proporcionalmente los derechos, mejorando nuestro flujo de caja.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline &iquest;Tenemos informaci&oacute;n confiable de nuestros stocks?
            |  Si no estamos seguros de lo que tenemos en nuestros almacenes, podemos perder ventas.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline
              | &iquest;Tenemos problemas para preparar nuestros pedidos por no tener personal calificado?
            |  Podemos tener problemas de retrasos en el despacho de nuestros pedidos por falta de personal o ineficiencias internas.
          li.txt-justify.mb-2
            h3.fw-bold.text-p.d-inline &iquest;Hemos comparado nuestro costo con el costo de tercerizar el servicio?
            |  Calcular el costo por m2 de nuestro almac&eacute;n, al cual debemos adicionar el costo del personal que all&iacute; labora, las instalaciones para el almacenamiento, los equipos de manipuleo, las instalaciones y equipos de seguridad, c&aacute;maras, extintores, redes contra incendio, detectores de humo o de movimiento, etc., el costo del seguro, La suma de esos costos deben ser comparados con el costo del servicio de almacenamiento de una empresa almacenera.
        h2
          | Los almacenes formales son especialistas en el servicio de almacenamiento de los m&aacute;s diversos productos.
        ul.text-p
          li.txt-justify.mb-2
            | Cuentan con 
            h3.fw-bold.text-p.d-inline &aacute;reas con diferentes condiciones
            | , de acuerdo a las necesidades de sus clientes; &aacute;reas abiertas, &aacute;reas techadas, bodegas cerradas, posiciones con racks, temperatura controlada, etc.
          li.txt-justify.mb-2
            | Cuentan con 
            a.text-dark(href='te-conviene-tercerizar-tus-almacenes.html')
              h3.fw-bold.text-p.d-inline tecnolog&iacute;a para el manejo y control de la mercader&iacute;a
            | , como el WMS, as&iacute; como equipos para el manipuleo de la misma.
          li.txt-justify.mb-2
            | Al tercerizar el servicio 
            h3.fw-bold.text-p.d-inline trasladamos al riesgo
            |  de p&eacute;rdidas de mercader&iacute;as.
          li.txt-justify.mb-2
            | Su 
            h3.fw-bold.text-p.d-inline personal est&aacute; capacitado
            |  para el adecuado manipuleo, cuidado y seguridad de las mercader&iacute;as que almacenan.
          li.txt-justify.mb-2
            | Ofrecen 
            h3.fw-bold.text-p.d-inline informaci&oacute;n en l&iacute;nea
            |  de los stocks de la mercader&iacute;a almacenada.
          li.txt-justify.mb-2
            | Pueden establecer 
            h3.fw-bold.text-p.d-inline acuerdos de niveles de servicio
            |  con cada cliente de acuerdo a sus necesidades.
          li.txt-justify.mb-2
            | Cuanta m&aacute;s 
            h3.fw-bold.text-p.d-inline confianza y colaboraci&oacute;n
            |  exista entre nuestra empresa y el almac&eacute;n, mejores resultados podemos tener de la gesti&oacute;n de almacenes.
        .txt-justify.mb-3.text-p
          | En 
          h3.fw-bold.text-p.d-inline
            a.text-dark(href='https://www.anunalog.com') Anunalog
          |  creemos que el incremento del 
          h3.fw-bold.text-p.d-inline esp&iacute;ritu colaborativo
          |  entre nuestras empresas llevar&aacute; al crecimiento y generar&aacute; desarrollo para las empresas, nuestros colaboradores y para el pa&iacute;s.
        h2.fs-6.fw-bold ALEX KUDZUMA
        h2.fs-6.fw-bold.mb-2 CEO DE ANUNALOG
      include ../template/siderbar
  +embudo('#f9e59b','https://www.youtube.com/embed/mMMyVfMPU0U','SI estás buscando transporte de carga o almacen rápido, simple y seguro, únete gratis a anunalog', 'Únete como cliente')
  +embudo('#d6e7ee', 'https://www.youtube.com/embed/TIKlne7sNGY','¿Eres transportista o tienes un almacén?  Únete a anunalog y consigue clientes rápido, simple y seguro','Únete como proveedor')