extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1
        | anunalog, ACERCANDO LOS ESLABONES
    .row.mt-4
      .col-lg-8
        h2.fw-bold.fs-6 CUANTO M&Aacute;S CERCA EST&Aacute;N LOS ESLABONES, M&Aacute;S FUERTE ES LA CADENA
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_13%2Fportada.webp?alt=media&token=705bf709-1134-48f6-9f80-c08251393cdf', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.txt-justify
          a.text-dark(href='anunalog-acercando-los-eslabones.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='anunalog-acercando-los-eslabones.html')
            | &ldquo;Necesito urgente un transporte para ma&ntilde;ana y mis transportistas usuales no tienen unidades disponibles&rdquo;.
        |  &ldquo;En unos d&iacute;as llega la mercader&iacute;a y no tenemos un almac&eacute;n d&oacute;nde dejarla&rdquo; &iquest;Les suena familiar?
        p
        p.d-inline
          a.text-dark(href='https://anunalog.com/')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='https://anunalog.com/') anunalog
        |  nace para acercar los eslabones de la cadena de abastecimiento con la finalidad de ser el puente que conecte a los clientes con los transportistas y almacenes, contando con servicios que cumplan sus requerimientos: agilidad, seguridad, econom&iacute;a, eficiencia, oportunidad.
        p
        p.d-inline
          | A trav&eacute;s de 
          a.text-dark(href='https://anunalog.com/')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='https://anunalog.com/') anunalog
        |  las empresas que requieran servicios de transporte de carga o de almacenamiento podr&aacute;n encontrar las mejores opciones entre una gama de proveedores calificados.
        p
        p.d-inline
          | Los proveedores han sido previamente evaluados por 
          a.text-dark(href='https://anunalog.com/')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='https://anunalog.com/') anunalog
        |  tengan la tranquilidad de trabajar con proveedores calificados. Adem&aacute;s
        a.text-dark(href='https://anunalog.com/')
          h3.fw-bold.fs-6.d-inline  anunalog 
        | hace un seguimiento a las operaciones para asegurar el cumplimiento del servicio y la satisfacci&oacute;n de sus clientes.
        p
        p.d-inline
          | Al mismo tiempo, 
          a.text-dark(href='https://anunalog.com/')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='https://anunalog.com/') anunalog
        |  es la plataforma que permitir&aacute; a los proveedores de estos servicios ampliar su mercado, optimizando el uso de su capacidad.
        p
        p.d-inline
          a.text-dark(href='https://anunalog.com/')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='https://anunalog.com/') anunalog
        |  promueve la construcci&oacute;n de un pa&iacute;s con esp&iacute;ritu colaborativo entre las empresas del sector log&iacute;stico y sus clientes, utilizando herramientas digitales.
        p
      include ../template/siderbar