extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1
        | BUSCANDO SOLUCIONES AL PROBLEMA DEL TR&Aacute;FICO DE CAMIONES EN EL PUERTO DEL CALLAO
    .row.mt-4
      .col-lg-8
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_5%2FScreen%20Shot%202021-11-15%20at%2017.41.34.png?alt=media&token=8867d26f-e0e3-439c-bd36-4b05a334d63d', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.fw-bold.txt-justify
          | En reciente conversatorio virtual organizado por Anunalog, con participaci&oacute;n de Gabriel Graf, Director General de Negocios con amplia experiencia en el sector log&iacute;stico, tratamos este tema de mucha actualidad y que genera problemas tanto a los operadores del puerto, a los transportistas, operadores log&iacute;sticos, a las empresas exportadoras e importadoras y a la comunidad chalaca.
        h2.fs-6.fw-bold Algunas de las causas de este problema son:
        ol
          li.txt-justify.mb-2
            | En los &uacute;ltimos a&ntilde;os se ha incrementado notablemente la cantidad de camiones que ingresan al puerto debido a la llegada de naves de mayor capacidad y al incremento del 
            a.text-dark(href='buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html')
              h3.fw-bold.fs-6.d-inline  movimiento de nuestro comercio exterior.
          li.txt-justify.mb-2
            | La espera de los transportistas para ingresar al puerto, genera largas colas en las avenidas de acceso al puerto, con la consecuente congesti&oacute;n del tr&aacute;fico en la zona.
          li.txt-justify.mb-2
            | La falta de espacios para que los veh&iacute;culos puedan estacionarse mientras esperan.
          li.txt-justify.mb-2
            | Avenidas de acceso y salida del puerto muy estrechas. La ampliaci&oacute;n de la Av. N&eacute;stor Gambetta qued&oacute; muy chica.
          li.txt-justify.mb-2
            | Demoras en la atenci&oacute;n de carga suelta y a granel en el puerto, por la necesidad de habilitar m&aacute;s muelles para atender este tipo de carga, a diferencia de la carga containerizada que se atiende con mayor rapidez.
          li.txt-justify.mb-2
            | El movimiento de contenedores vac&iacute;os que se genera debido a que nuestras importaciones utilizan contenedores de cierto tipo que no coinciden con los contenedores utilizados para nuestras exportaciones, produci&eacute;ndose la necesidad de mover muchos contenedores vac&iacute;os, generando mayor tr&aacute;fico.
        h2.fs-6.fw-bold Algunas de las causas de este problema son:
        ol
          li.txt-justify.mb-2
            | En los &uacute;ltimos a&ntilde;os se ha incrementado notablemente la cantidad de camiones que ingresan al puerto debido a la llegada de naves de mayor capacidad y al incremento del movimiento de nuestro comercio exterior.
          li.txt-justify.mb-2
            | La espera de los transportistas para ingresar al puerto, genera largas colas en las avenidas de acceso al puerto, con la consecuente congesti&oacute;n del tr&aacute;fico en la zona.
          li.txt-justify.mb-2
            | La falta de espacios para que los veh&iacute;culos puedan estacionarse mientras esperan.
          li.txt-justify.mb-2
            a.text-dark(href='buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html')
              h3.fw-bold.fs-6.d-inline Avenidas de acceso y salida del puerto muy estrechas.
            |  La ampliaci&oacute;n de la Av. N&eacute;stor Gambetta qued&oacute; muy chica.
          li.txt-justify.mb-2
            | Demoras en la atenci&oacute;n de carga suelta y a granel en el puerto, por la necesidad de habilitar m&aacute;s muelles para atender este tipo de carga, a diferencia de la carga containerizada que se atiende con mayor rapidez.
          li.txt-justify.mb-2
            | El movimiento de contenedores vac&iacute;os que se genera debido a que nuestras importaciones utilizan contenedores de cierto tipo que no coinciden con los contenedores utilizados para nuestras exportaciones, produci&eacute;ndose la necesidad de mover muchos contenedores vac&iacute;os, generando mayor tr&aacute;fico.
        h2.fs-6.fw-bold Buscando soluciones:
        ol
          li.txt-justify.mb-2
            | A largo plazo se debe buscar consenso entre los gremios de la cadena log&iacute;stica que interact&uacute;an con el puerto para plantear a los Gobiernos, Regional y Central, un proyecto de ampliaci&oacute;n de las pistas de acceso al puerto con v&iacute;as exclusivas, de un solo sentido, generando un circuito de ingreso y salida de unidades y evitando cruces entre camiones de ambos operadores del puerto. Tambi&eacute;n se deber&iacute;an establecer carriles diferenciados de acuerdo al tipo de carga que se moviliza (contenedor, carga suelta o granel).
          li.txt-justify.mb-2
            | Mejorar el sistema de citas para la atenci&oacute;n en el puerto y que se respeten los horarios para evitar que los camiones se queden afuera haciendo cola por varias horas.
          li.txt-justify.mb-2
            | La programaci&oacute;n con los clientes es muy importante, no solo programar para el d&iacute;a, sino para 3 a 5 d&iacute;as, actualizando cada momento con las citas en coordinaci&oacute;n con los agentes de aduana, almacenes, transportistas y clientes. Se requiere el compromiso decidido de todos para el cumplimiento de esta programaci&oacute;n que redundar&aacute; en beneficio de todos.
          li.txt-justify.mb-2
            a.text-dark(href='buscando-soluciones-al-problema-del-trafico-de-camiones-en-el-puerto-del-callao.html')
              h3.fw-bold.fs-6.d-inline
                | Una comunicaci&oacute;n permanente y un centro de monitoreo de las unidades de transporte
            |  facilitar&aacute; la llegada de las unidades al puerto a la hora debida.
          li.txt-justify.mb-2
            | Utilizar tecnolog&iacute;a disponible y ahora a costos accesibles como GPS, bot&oacute;n de p&aacute;nico, trabas de motor, etc. como medidas preventivas de seguridad.
          li.txt-justify.mb-2
            | Instalar m&aacute;s c&aacute;maras de seguridad en las avenidas de acceso al puerto (Atalaya, Manco Capac, Argentina) y realizar coordinaciones con serenazgo y polic&iacute;a para disminuir los riesgos de robos.
          li.txt-justify.mb-2
            | Una mayor utilizaci&oacute;n, con mayor frecuencia de naves, en el puerto de Pisco/Paracas, y en el futuro en Chancay, para tener alternativas al puerto del Callao.
          li.txt-justify.mb-2
            | Repensar el Zona de Actividad Log&iacute;stica que se desestim&oacute; por su inviabilidad tal como inicialmente se present&oacute;, para lo cual se debe analizar las &aacute;reas cercanas al puerto, que podr&iacute;an cambiar de uso y las actividades que se podr&iacute;an realizar en ellas.
        b
          i
            | Anunalog es un espacio para generar esp&iacute;ritu colaborativo en el sector log&iacute;stico a trav&eacute;s de:
            br
            ul
              li.txt-justify.mb-2 La difusi&oacute;n de informaci&oacute;n de inter&eacute;s para el sector log&iacute;stico.
              li.txt-justify.mb-2
                | La plataforma digital que facilita la contrataci&oacute;n de servicios de transporte de carga y de almacenamiento de una manera &aacute;gil, simple y confiable.
        b
          h2.fs-6.fw-bold ALEX KUDZUMA
        b
          h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar    