extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1
        | COMO PROYECTAR UN CDR O CENTRO DE DISTRIBUCI&Oacute;N REFRIGERADO
    .row.mt-4
      .col-lg-8
        img.mb-3(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_9%2Fportada.jpeg?alt=media&token=a552dac0-3f41-423b-8351-1d11da15a1fb', alt='Almacenes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.txt-justify
          a.text-dark(href='como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html') Un Centro de Distribuci&oacute;n Refrigerados o CDR
        | , no es solo un almac&eacute;n de productos perecibles, m&aacute;s bien es uno de los eslabones m&aacute;s importante en la Cadena de Frio. En estos meses de pandemia se evidenci&oacute; la importancia de la log&iacute;stica en la produccion y distribuci&oacute;n de alimentos perecederos a gran escala, los cambios en la demanda y la oferta, la volatilidad de los precios y la disponibilidad de stocks, significaron un gran reto para los CDR.
        p
        p.txt-justify
          | Para proyectar un CDR, debemos tener la visi&oacute;n clara del negocio de alimentos en la zona de operaci&oacute;n del CDR. Puede parecer obvio, pero es muy importante la ubicaci&oacute;n y el conocimiento del mercado de perecibles de la zona; si la orientaci&oacute;n ser&aacute; hacia el consumo masivo, el retail, la industria o el comercio exterior. Adem&aacute;s se deben conocer las rutas y puntos de entrega, tiempos de recorrido, la cantidad de pallets o TM por viaje, c&oacute;mo se entregan los productos (pallets, sku, etc.), si hay puertos cercanos (mar&iacute;timo o a&eacute;reo), principalmente.
        p.txt-justify
          a.text-dark(href='como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html')
            | Es necesario identificar los diversos tipos de camiones frigor&iacute;ficos que van a operar en el CDR
        | , pueden ser peque&ntilde;os para rutas r&aacute;pidas, de media o gran capacidad (reefers), as&iacute; como definir con los operadores log&iacute;sticos los horarios y frecuencias diarias. Con esta informaci&oacute;n, se puede dise&ntilde;ar la plataforma de carga (Dock climatizado), definir el &aacute;rea y la cantidad de andenes, uso de montacargas y traspaletas, altura de la rampa y tipos de nivelador, tama&ntilde;o de las puertas y sellos de and&eacute;n, el grado de automatismo para optimizar los tiempos de carga y descarga.
        p
        p.txt-justify
          | Al interior del CDR, la mercader&iacute;a se moviliza r&aacute;pidamente en la plataforma, que debe tener una extensi&oacute;n generosa y amplia (12 a 15 mt de ancho), donde se realizan las actividades de recepci&oacute;n, picking y descarga en simult&aacute;neo, con registro y clasificaci&oacute;n de la mercader&iacute;a para lograr trazabilidad; facilitando el traslado y acceso directo (ingreso o salida) a todas las c&aacute;maras refrigeradas para su almacenamiento temporal.
        p.txt-justify
          | En el interior de las c&aacute;maras se ubican los racks met&aacute;licos que pueden ser del tipo drive-in (selectivo) o acumulativo (mayor profundidad), dise&ntilde;ados y fabricados en base a los canales que se van a atender, d&iacute;as de permanencia en inventarios, la rotaci&oacute;n y tiempos de despacho, el volumen de posiciones por ambiente (PP o &ldquo;pallets position&rdquo;), el tama&ntilde;o y altura de la carga, el modelo de apilador el&eacute;ctrico, principalmente. Siendo la prioridad hoy en d&iacute;a, de lograr una simple y &aacute;gil operaci&oacute;n, mayor flexibilidad en el manejo de la carga con reducci&oacute;n de tiempos y movimientos.
        p.txt-justify
          | Considerando que los productos perecibles almacenados y custodiados en el CDR, son de 85 a 90% congelados y de 10 a 15% refrigerados, es labor de los ingenieros especialistas en refrigeraci&oacute;n, dise&ntilde;ar e implementar un Sistema Frigorifico para atender esta demanda en la escala requerida, empleando refrigerantes ya conocidos en nuestro medio, como son: el HFC-O (freones), amoniaco, CO2 y glicoles (PG). Recomendamos evaluar un sistema de refrigeraci&oacute;n centralizado para la &ldquo;generaci&oacute;n de frio&rdquo;, los equipos se instalan en una misma sala de m&aacute;quinas distribuyendo el refrigerante a todos los usuarios del frigor&iacute;fico, controlando los par&aacute;metros (presi&oacute;n, temperatura y caudal) para obtener las temperaturas objetivo deseadas..
        p.txt-justify
          | Como unidades de apoyo, debemos considerar la instalaci&oacute;n de T&uacute;neles de congelamiento de mediana y gran capacidad, que se utilizan para brindar un servicio adicional aplicando un &ldquo;golpe de fr&iacute;o&rdquo; o &ldquo;shock t&eacute;rmico&rdquo; a los productos que no tienen la temperatura de c&aacute;mara, as&iacute; como para congelar producto fresco previamente procesado y empacado.
        p.txt-justify
          | El consumo de energ&iacute;a es el costo m&aacute;s importante en una planta frigor&iacute;fica y debe ser evaluado en las temporadas de verano e invierno. El ratio de consumo el&eacute;ctrico de almacenaje oscila de 0.85 kWh hasta 2 kWh por PP en c&aacute;maras de stocks para congelados y de 6 a 9 kWh en t&uacute;neles de congelamiento por TM. Este valor depende de los equipos de refrigeracion instalados y del factor de simultaneidad en la operaci&oacute;n de los mismos, se reduce el consumo en sistemas centralizados que operan con la &ldquo;demanda de frio&rdquo; a tiempo real de la planta.
        p.txt-justify
          | La ubicaci&oacute;n del &aacute;rea de oficinas y servicio en el CDR es estrat&eacute;gica y no debe ser dejada para el final, est&aacute; zona debe tener una vista privilegiada del movimiento de la carga al interior de la plataforma (recepci&oacute;n, picking y despacho), as&iacute; como de los camiones en el patio de maniobras, la mejor ubicaci&oacute;n ser&iacute;a en uno de los extremos de la plataforma. Luego, se deben instalar los sistemas secundarios de alarmas y detecci&oacute;n de humos o gases, circuito cerrado de video, redes con conexi&oacute;n WiFi inal&aacute;mbricas y diversos &ldquo;access points&rdquo; en toda la planta.
        p.txt-justify
          | Finalmente para un adecuado 
          a.text-dark(href='como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='como-proyectar-un-cdr-o-centro-de-distribucion-refrigerado.html') dise&ntilde;o de un CDR o Centro de Distribuci&oacute;n Refrigerado
        | , se debe considerar conocer muy bien el negocio, la visi&oacute;n de la empresa y propietarios, la ubicaci&oacute;n y tama&ntilde;o del terreno, v&iacute;as de acceso colindantes y mercados a atender. Si desean m&aacute;s consultas, pueden comunicarse con nosotros para atenderlos.
        p
        b
          h2.fs-6.fw-bold Jorge Huanqui Escobedo
        b
          h2.fs-6.fw-bold CEO y socio fundador de ASAP Consulting Group
      include ../template/siderbar