extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1 La Forma Innovadora De Buscar Transportes
    .row.mt-4
      .col-lg-8
        h2.fw-bold.fs-6
          span.py-2.d-block.txt-justify &iquest;Necesitas servicios de transporte para tu carga?
          span.py-2.d-block.txt-justify
            | &iquest;Tienes urgencias de transporte y no tienes como conseguir unidades de manera inmediata y confiable?
          span.py-2.d-block.txt-justify
            | &iquest;Cuentas con una cartera limitada de unidades de transporte y no sabes donde ni como conseguir mas unidades?
        img.mb-4.mt-3(src='img/transporte-de-carga.jpg', alt='La Forma Innovadora De Buscar Transportes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.d-inline.txt-justify
          a.text-dark(href='la-forma-innovadora-de-buscar-transportes.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='la-forma-innovadora-de-buscar-transportes.html') La gesti&oacute;n de transporte
        |  es un proceso fundamental y clave en la integraci&oacute;n de los eslabones de nuestra cadena de abastecimiento y nuestros procesos log&iacute;sticos internos, por lo que una correcta gesti&oacute;n de transporte es un factor diferenciador y fundamental. El no contar con un insumo, porque no hab&iacute;a el transporte que lo lleve a nuestra planta de producci&oacute;n, puede parar toda la planta, o el no contar con un transporte para llevar el producto terminado a punto de venta, puede significar p&eacute;rdidas enormes para la compa&ntilde;&iacute;a.
        p
        p.d-inline.txt-justify
          | En el Per&uacute; 
          a.text-dark(href='la-forma-innovadora-de-buscar-transportes.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='la-forma-innovadora-de-buscar-transportes.html') la informalidad del sector transporte es alta,
        |  bordeando casi el 36% del mercado. Se cree err&oacute;neamente que el usar servicio informal trae beneficios en costos, lo cual no es cierto, puesto que en un entorno informal puede laborar quien lo requiera, sin contar con la capacitaci&oacute;n ni preparaci&oacute;n para trasladar la mercader&iacute;a, generando accidentes, da&ntilde;os de mercader&iacute;a, sanciones, multas, adem&aacute;s de no tener ning&uacute;n respaldo jur&iacute;dico sobre el bien trasladado, pudiendo generar grandes p&eacute;rdidas.
        p
        p.d-inline.txt-justify
          | Ante esta coyuntura, &iquest;c&oacute;mo encontramos transportes formales de manera segura y r&aacute;pida? Hoy para conseguir Transportes, llamamos a nuestra cartera de transportes conocida, o pedimos referencias a colegas del sector, siendo esta generalmente bastante limitada. Gracias a la llegada de la tecnolog&iacute;a, podemos ampliar la lista de transportes que hoy manejamos de manera exponencial, teniendo todos los transportes que necesitemos en la palma de la mano, simplemente ingresando al App, elegir el tipo de unidad, indicar la salida y punto de destino, la carga y recibir&aacute;n 
          a.text-dark(href='la-forma-innovadora-de-buscar-transportes.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='la-forma-innovadora-de-buscar-transportes.html') ofertas de transporte de acuerdo a los requerimientos que ustedes hayan definido
        |  y Ud podr&aacute; elegir la opci&oacute;n que m&aacute;s le convenga. Esto se traducir&iacute;a en un significativo ahorro de tiempo y recursos. Esto es lo que les ofrece 
        a.text-dark(href='https://www.anunalog.com')
          h2.fw-bold.fs-6.d-inline ANUNALOG,
        |  una comunidad digital que facilita el encuentro de la oferta y la demanda de servicios log&iacute;sticos de una manera simple, &aacute;gil y confiable.
        p
        b
          h2.fs-6.fw-bold ALEX KUDZUMA
        b
          h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar