extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1 La Forma Innovadora De Buscar Almacenes
    .row.mt-4
      .col-lg-8
        h2.fw-bold.fs-6
          span.py-1.d-block &iquest;Necesitas servicios de almacenamiento para tu carga?
          span.py-1.d-block &iquest;Traes carga de importaci&oacute;n y buscas un dep&oacute;sito aduanero?
          span.py-1.d-block &iquest;Necesitas un almac&eacute;n frigor&iacute;fico para mantener tu cadena de fr&iacute;o?
          span.py-1.d-block &iquest;Buscas un almac&eacute;n general para todo tipo de carga?
          span.py-1.d-block &iquest;Necesitas espacio adicional para almacenar tu carga?
        img.mb-4.mt-3(src='img/que-tipo-de-almacen-necesito.jpg', alt='La Forma Innovadora De Buscar Transportes', width='500px', style='width: 100%; object-fit: cover; height: 400px;')
        p.d-inline
          | La 
          a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html') gesti&oacute;n de almacenes
        |  puede convertirse en un dolor de cabeza o en nuestra 
        a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
          h3.fw-bold.fs-6.d-inline ventaja competitiva.
        De nosotros depende conocer las diferentes opciones que existen en el mercado para encontrar la que mejor se adapte a nuestros requerimientos.
        p
        p.d-inline
          | Como sabemos la econom&iacute;a peruana tiene un porcentaje muy alto de 
          a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html') informalidad,
        |  que tambi&eacute;n 
        a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
          h3.fw-bold.fs-6.d-inline afecta el sector log&iacute;stico
        |  y espec&iacute;ficamente al servicio de almacenamiento. Tomar servicios de almacenamiento informales, puede conllevar tarifas menores, pero tiene 
        a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
          h3.fw-bold.fs-6.d-inline altos riesgos,
        |  en caso de siniestros o de responsabilidades en caso de p&eacute;rdidas o diferencias de inventarios.
        p
        h2 &iquest;C&oacute;mo saber qu&eacute; tipo de almac&eacute;n es el que estoy buscando?
        p.d-inline
          | Dentro del sector formal, existen diferentes 
          a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
        h3.fw-bold.fs-6.d-inline
          a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html') tipos de almacenes
        |  con niveles de servicio. Encontramos 
        a.text-dark(href='la-forma-innovadora-de-buscar-almacenes.html')
          h3.fw-bold.fs-6.d-inline almacenes
        |  que alquilan un espacio para que cada uno maneje su operaci&oacute;n con su propio personal y equipos, algunos pueden alquilar solo una bodega y otros cuentan con infraestructura e instalaciones de seguridad y operatividad con altos est&aacute;ndares.
        p
        p.txt-justify
        h3.fw-bold.fs-6.d-inline Empresas de almacenamiento
        |  que brindan el espacio y el 
        h3.fw-bold.fs-6.d-inline servicio de almacenamiento
        |  con infraestructura, equipos, personal y seguridad requeridos, pudiendo ofrecer adem&aacute;s el servicio como 
        h3.fw-bold.fs-6.d-inline centros de distribuci&oacute;n.
        |  En este caso la 
        h3.fw-bold.fs-6.d-inline almacenera
        |  se encarga de la recepci&oacute;n, storage, picking etc. que la operaci&oacute;n requiera, bajo su responsabilidad.
        p
        p.d-inline
          | Con el r&aacute;pido crecimiento en el e-commerce, se est&aacute; generando tambi&eacute;n el crecimiento de los
        h3.fw-bold.fs-6.d-inline dark stores
        |  o 
        h3.fw-bold.fs-6.d-inline fulfillment centers,
        |  que se caracterizan por espacios m&aacute;s peque&ntilde;os pero preparados para atender picking unitarios en ventanas horarias mucho m&aacute;s reducidas.
        p
        p.d-inline Tambi&eacute;n podemos encontrar 
        h3.fw-bold.fs-6.d-inline dep&oacute;sitos aduaneros
        |  que pueden recibir carga de importaci&oacute;n sin pago de derechos arancelarios y que permiten la nacionalizaci&oacute;n y retiros parciales.
        p
        p
        h3.fw-bold.fs-6.d-inline Dep&oacute;sitos temporales,
        |  que son almacenes de tr&aacute;nsito para mercader&iacute;a que ingresa y sale del pa&iacute;s, ubicados en zonas cercanas a puertos y fronteras.
        p
        p
        h3.fw-bold.fs-6.d-inline Almacenes de fr&iacute;o,
        |  para carga congelada o refrigerada, que requieren mantener la cadena de fr&iacute;o con determinados rangos de temperatura y humedad.
        p
        p
        h3.fw-bold.fs-6.d-inline Almacenes Generales de Dep&oacute;sito,
        |  que son aquellos almacenes facultados a emitir Warrants por la mercader&iacute;a que tienen bajo su custodia.
        p
        p.d-inline Dentro de toda esta variedad de almacenes, 
        h3.fw-bold.fs-6.d-inline &iquest;c&oacute;mo encontramos el almac&eacute;n que necesitamos?
        |  Lo primero es tener en claro cu&aacute;l es nuestra necesidad. Imag&iacute;nense que en lugar de que ustedes tengan que 
        h3.fw-bold.fs-6.d-inline buscar un almac&eacute;n,
        |  los 
        h3.fw-bold.fs-6.d-inline almacenes les env&iacute;en sus ofertas
        |  de acuerdo a los 
        h3.fw-bold.fs-6.d-inline requerimientos que ustedes hayan definido.
        |  Por cierto se traducir&iacute;a en un significativo ahorro de tiempo y recursos. Esto es lo que les ofrece 
        h3.fw-bold.fs-6.d-inline ANUNALOG,
        |  una 
        h3.fw-bold.fs-6.d-inline comunidad digital
        |  que facilita el encuentro de la oferta y la demanda de 
        h3.fw-bold.fs-6.d-inline servicios log&iacute;sticos
        |  de una manera 
        h3.fw-bold.fs-6.d-inline simple, &aacute;gil y confiable.
        p
        b
          h2.fs-6.fw-bold ALEX KUDZUMA
        b
          h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar