extends ../template/plantilla
block contenido
  .container
    .header.mt-4
      h1
        | &iquest;QU&Eacute; TIPO DE VEH&Iacute;CULO NECESITO PARA MANTENERLA CADENA DE FR&Iacute;O?
    .row.mt-4
      .col-lg-8
        p.txt-justify
          | Ya sea que seamos productores, importadores o comercializadores de productos perecederos, nos preocupamos por mantener la cadena de fr&iacute;o para que nuestros productos lleguen a nuestros clientes en &oacute;ptimas condiciones.
        p.d-inline.txt-justify
          | Una de las operaciones clave en esta cadena es el traslado de los productos, que debe hacerse en veh&iacute;culos bajo condiciones de temperatura controlada que asegure mantenerlos en perfecto estado. Seguramente hemos escuchado de los 
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html') diferentes tipos de veh&iacute;culos que se pueden utilizar.
        |  Brevemente describiremos las principales caracter&iacute;sticas de cada uno para que analicen cu&aacute;l se adapta mejor a sus necesidades.
        p
        h3 VEH&Iacute;CULOS ISOT&Eacute;RMICOS
        img.mb-4.mt-2(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_1%2Fvehiculo_isotermico.png?alt=media&token=b4e38abc-97d9-47d9-a966-1db8656198ca', alt='vehiculos isotermicos', width='400px')
        br
        p.d-inline.txt-justify
          | Los 
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html') veh&iacute;culos isot&eacute;rmicos
        |  tienen una caja fabricada con materiales aislantes (piso, techo y paredes), para impedir que el calor del exterior ingrese al interior de la caja. Viene a ser como un gran cooler. Mantienen la temperatura del producto, pero con el paso de las horas van ganando calor. Al utilizar este tipo de veh&iacute;culos hay que tener mucha agilidad en la carga y descarga de productos para que el calor del exterior no afecte mucho la temperatura de la caja.
        p
        h3 VEH&Iacute;CULOS REFRIGERADOS
        img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_1%2Fvehiculos_refrigerados.png?alt=media&token=0943694d-b8d7-4514-a96b-3b83bce5e0ff', alt='vehiculos isotermicos', width='400px')
        |  
        br
        p.d-inline.txt-justify
          | Los 
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html') veh&iacute;culos refrigerados
        |  tambi&eacute;n tienen unacaja aislada como los isot&eacute;rmicos, pero adem&aacute;s cuentan con una fuente de generaci&oacute;n de fr&iacute;o (a gas o hielo) que les permite bajar y/o mantener la temperatura del interior de la caja por m&aacute;s tiempo. De acuerdo a la temperatura pueden ser:
        p
        ul
          li Clase A (RRA) temperatura m&aacute;xima de 7&ordm;C
          li Clase B (RRB) temperatura m&aacute;xima de -10&ordm;C
          li Clase C (RRC) temperatura m&aacute;xima de &ndash; 20&ordm;C
          li Clase D (RRD) temperatura m&aacute;xima de 0&ordm;C
        h3 VEH&Iacute;CULO FRIGORIFICO
        img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_1%2Fvehiculo_frigorifico.png?alt=media&token=061267f8-8b4b-4852-a744-e02c35aa2795', alt='vehiculos isotermicos', width='400px')
        br
        p.d-inline.txt-justify
          | Los 
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html')
        h2.fw-bold.fs-6.d-inline
          a.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html') veh&iacute;culos frigor&iacute;ficos
        |  tambi&eacute;n tienen una caja aislada y cuentan con un equipo de generaci&oacute;n de fr&iacute;o, permitiendo bajar y/o mantener la temperatura de la caja para vol&uacute;menes mayores y por mucho m&aacute;s tiempo, por lo que son indicados para viajes largos.
        p
        p.txt-justify
          | En todos los casos debe tenerse en cuenta la temperatura con la cual los productos ingresan a las unidades as&iacute; como el correcto embalaje y la distribuci&oacute;n de las cajas dentro del veh&iacute;culo que aseguren un flujo de aire interno para que lleguen a destino en &oacute;ptimas condiciones.
        b
          h2.fs-6.fw-bold ALEX KUDZUMA
        b
          h2.fs-6.fw-bold CEO DE ANUNALOG
      include ../template/siderbar
  include ../template/embudo