-
  seo = {
    pg1:{
      titulo:'Anunalog acercando los eslabones',
      h1:'Anunalog acercando los eslabones',
      descripcion:'Anunalog nace para acercar los eslabones de la cadena de abastecimiento con la finalidad de ser el puente que conecte a los clientes con los transportistas y almacenes.'
    },
    pg2:{
      titulo:'Apuntes del simposio logistico organizado por stg',
      h1:'Apuntes del simposio logistico organizado por stg',
      descripcion:'Interesante Simposio Logístico organizado por STG Southern Technology Group, que tuvo 3 bloques con temas de suma actualidad: almacenes inteligentes, E-Commerce'
    },
    pg3:{
      titulo:'Buscando soluciones al problema del tráfico de camiones en el puerto del callao',
      h1:'Buscando soluciones al problema del tráfico de camiones en el puerto del callao',
      descripcion:'La cantidad de camiones que ingresan al puerto debido a la llegada de naves de mayor capacidad, es uno de los problemas del trafico de camiones en el puerto del callao.'
    },
    pg4:{
      titulo:'Como proyectar un cdr o centro de distribución refrigerado',
      h1:'Como proyectar un cdr o centro de distribución refrigerado',
      descripcion:'Un Centro de Distribución Refrigerados o CDR, no es solo un almacén de productos perecibles, más bien es uno de los eslabones más importante en la Cadena de Frio.'
    },
    pg5:{
      titulo:'Cuales son las mejores llantas para camiones de carga',
      h1:'Cuales son las mejores llantas para camiones de carga',
      descripcion:'Nos preguntamos ¿Cuáles son las mejores llantas para camiones de carga? ¿Qué consejos podemos compartir para tomar una buena decisión de reemplazo de llantas?'
    },
    pg6:{
      titulo:'Es momento para pensar en la transformación digital en logística',
      h1:'Es momento para pensar en la transformación digital en logística',
      descripcion:'Transformación digital el desarrollo de capacidades para tener un modelo de negocio con foco en el cliente genere más valor, para la empresa y sus clientes.'
    },
    pg7:{
      titulo:'Historia de anunalog',
      h1:'Historia de anunalog',
      descripcion:'¿Se imaginan dejar la gerencia general de una empresa después de haber trabajado en ella los últimos 25 años?Al dejar Depsa, empresa del sector logístico'
    },
    pg8:{
      titulo:'La forma innovadora de buscar almacenes',
      h1:'La forma innovadora de buscar almacenes',
      descripcion:'La gestión de almacenes puede convertirse en un dolor de cabeza o en nuestra ventaja competitiva. nosotros depende conocer las diferentes opciones que existen'
    },
    pg9:{
      titulo:'La forma innovadora de buscar transportes',
      h1:'La forma innovadora de buscar transportes',
      descripcion:'La gestión de transporte es un proceso fundamental y clave en la integración de los eslabones de nuestra cadena de abastecimiento y nuestros procesos logísticos'
    },
    pg10:{
      titulo:'La necesidad de transformarnos',
      h1:'La necesidad de transformarnos',
      descripcion:'Qué increíble es la naturaleza y qué sabia, porque nos permite ver el proceso y hacernos reflexionar sobre la importancia y la necesidad de transformarnos.'
    },
    pg11:{
      titulo:'Las habilidades digitales del profesional logístico',
      h1:'Las habilidades digitales del profesional logístico',
      descripcion:'En un reciente webinar, nuestro expositor Alejandro Luna de Page Group, expuso sobre las habilidades digitales que hoy se demandan en el sector logístico'
    },
    pg12:{
      titulo:'liderazgo empresarial en época de crisis social, política y económica',
      h1:'liderazgo empresarial en época de crisis social, política y económica',
      descripcion:'Hay 4 tipos de liderazgo empresarial: Movilizador, transformador, defensor, promotor.Cambiar la actitud del empresariado que está muy a la defensiva.'
    },
    pg13:{
      titulo:'Nuevas tendencias en gestión de almacenes',
      h1:'Nuevas tendencias en gestión de almacenes',
      descripcion:'Hoy pueden intervenir los almacenes de grandes volúmenes, los fullfilment centers y los dark stores. Cada uno con infraestructura, equipos y personal especializados.'
    },
    pg14:{
      titulo:'¿Por qué ofrecer mi almacén por anunalog?',
      h1:'¿Por qué ofrecer mi almacén por anunalog?',
      descripcion:'¿Por qué ofrecer mi almacén por anunalog?Amplía tu red de clientes, Agiliza el flujo de tu negocio de almacenaje, Incrementa tu productividad, disminuye tiempo.'
    },
    pg15:{
      titulo:'¿Que tipo de vehículo necesito para mantener la cadena de frío?',
      h1:'¿Que tipo de vehículo necesito para mantener la cadena de frío?',
      descripcion:'Seguramente hemos escuchado de los diferentes tipos de vehículos que se pueden utilizar. Brevemente describiremos las principales características de cada uno'
    },
    pg16:{
      titulo:'¿Te conviene terzcerizar tus almacenes?',
      h1:'¿Te conviene terzcerizar tus almacenes?',
      descripcion:'Te conviene terzcerizar tus almacenes, porque nos permite enfocarnos en nuestro core del negocio y dejar que los especialistas hagan la gestión de almacenes.'
    }
  }