nav.navbar.navbar-expand-lg.navbar-light.bg-width.border-bottom.px-2.px-md-5
      .container-fluid
        a.navbar-brand(href='https://anunalog.com/', style='font-size: 1.5rem; font-weight: 700;')
          svg(width='40', height='40', viewBox='0 0 185 185', fill='none', xmlns='http://www.w3.org/2000/svg', style='margin-right: 3px;')
            path(d='M119.304 64.0914V64.0908C119.293 49.0396 107.046 36.8033 92.0052 36.8033C76.9537 36.8033 64.7173 49.0399 64.7173 64.0914V87.161C64.7173 89.5053 66.5062 91.3794 68.8296 91.3794C71.197 91.3794 73.048 89.5147 73.048 87.161V64.0914C73.048 53.644 81.5478 45.134 92.0052 45.134C102.453 45.134 110.963 53.6339 110.963 64.0914V87.161C110.963 89.4736 112.783 91.3794 115.075 91.3794C117.439 91.3794 119.304 89.5177 119.304 87.161V64.0914Z', fill='#1A488E', stroke='#1A488E', stroke-width='1.5')
            path(d='M92.0054 34.8243C99.3352 34.8243 105.293 28.867 105.293 21.5372C105.293 14.2074 99.3352 8.25 92.0054 8.25C84.6756 8.25 78.7183 14.2074 78.7183 21.5372C78.7183 28.8559 84.6752 34.8243 92.0054 34.8243ZM92.0054 15.5837C95.2831 15.5837 97.9589 18.2504 97.9589 21.5372C97.9589 24.8149 95.2922 27.4906 92.0054 27.4906C88.7277 27.4906 86.052 24.8239 86.052 21.5372C86.052 18.2496 88.7179 15.5837 92.0054 15.5837Z', fill='#1A488E', stroke='#1A488E', stroke-width='1.5')
            path(d='M115.064 94.61C112.771 94.61 110.952 96.5279 110.952 98.8284V121.898C110.952 132.345 102.452 140.855 91.9946 140.855C81.5369 140.855 73.0373 132.356 73.0373 121.898V98.8284C73.0373 96.4611 71.1728 94.61 68.819 94.61C66.5062 94.61 64.7065 96.4946 64.7065 98.8284V121.898C64.7065 136.939 76.9429 149.186 91.9946 149.186C107.046 149.186 119.283 136.95 119.283 121.898V98.8303C119.294 96.4706 117.427 94.61 115.064 94.61Z', fill='#1A488E', stroke='#1A488E', stroke-width='1.5')
            path(d='M92.0054 151.165C84.6756 151.165 78.7183 157.122 78.7183 164.452C78.7183 171.782 84.6756 177.739 92.0054 177.739C99.3352 177.739 105.293 171.782 105.293 164.452C105.293 157.133 99.3246 151.165 92.0054 151.165ZM92.0054 170.406C88.7277 170.406 86.052 167.739 86.052 164.452C86.052 161.175 88.7187 158.499 92.0054 158.499C95.2826 158.499 97.9581 161.165 97.9589 164.451C97.9491 167.741 95.2809 170.406 92.0054 170.406Z', fill='#1A488E', stroke='#1A488E', stroke-width='1.5')
            path(d='M120.909 65.7067H97.8389C95.4946 65.7067 93.6206 67.4956 93.6206 69.819C93.6206 72.1863 95.4851 74.0374 97.8389 74.0374H120.909C131.356 74.0374 139.866 82.5476 139.866 92.9947C139.866 103.442 131.366 111.952 120.909 111.952H97.8389C95.5262 111.952 93.6206 113.773 93.6206 116.064C93.6206 118.429 95.4821 120.293 97.8389 120.293H120.909C135.949 120.293 148.197 108.057 148.197 93.0053C148.197 77.9432 135.949 65.7067 120.909 65.7067Z', fill='#006CAA', stroke='#006CAA', stroke-width='1.5')
            path(d='M163.463 79.7075C156.133 79.7075 150.176 85.6649 150.176 92.9947C150.176 100.324 156.133 106.282 163.463 106.282C170.793 106.282 176.75 100.324 176.75 92.9947C176.75 85.6649 170.793 79.7075 163.463 79.7075ZM169.416 92.9947C169.416 96.2724 166.75 98.9481 163.463 98.9481C160.185 98.9481 157.509 96.2815 157.509 92.9947C157.509 89.717 160.176 87.0412 163.463 87.0412C166.74 87.0412 169.416 89.7178 169.416 92.9947Z', fill='#006CAA', stroke='#006CAA', stroke-width='1.5')
            path(d='M63.0913 74.0374H86.1609C88.5282 74.0374 90.3794 72.1728 90.3794 69.819C90.3794 67.4941 88.4931 65.7067 86.1609 65.7067H63.0913C48.0506 65.7067 35.8032 77.943 35.8032 92.9947C35.8032 108.046 48.0398 120.283 63.0913 120.283H86.1609C88.5297 120.283 90.3794 118.417 90.3794 116.054C90.3794 113.761 88.4614 111.941 86.1609 111.941H63.0913C52.6439 111.941 44.134 103.442 44.134 92.9841C44.134 82.5375 52.6437 74.0374 63.0913 74.0374Z', fill='#006CAA', stroke='#006CAA', stroke-width='1.5')
            path(d='M20.5372 79.7075C13.2074 79.7075 7.25 85.6649 7.25 92.9947C7.25 100.324 13.2074 106.282 20.5372 106.282C27.867 106.282 33.8243 100.324 33.8243 92.9947C33.8243 85.6649 27.867 79.7075 20.5372 79.7075ZM26.4906 92.9947C26.4906 96.2724 23.8239 98.9481 20.5372 98.9481C17.2595 98.9481 14.5837 96.2815 14.5837 92.9947C14.5837 89.717 17.2504 87.0412 20.5372 87.0412C23.8141 87.0412 26.4906 89.7178 26.4906 92.9947Z', fill='#006CAA', stroke='#006CAA', stroke-width='1.5')
          | anunalog
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse.d-lg-flex.justify-content-lg-end
          ul.navbar-nav
            li.nav-item
              a.nav-link(aria-current='page', href='https://anunalog.com/') Inicio
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | Comunidad
              ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                  a.dropdown-item(href='porque-ofrecer-mi-almacen-por-anunalog.html') Almac&eacute;n
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | Legal
              ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                  a.dropdown-item(href='https://anunalog.com/condiciones') Condiciones del servicio
            li.nav-item
              a.nav-link(aria-current='page', href='/') Blog
            li.nav-item
              a.nav-link(aria-current='page', target='_blank', href='https://docs.google.com/forms/d/e/1FAIpQLSfUrq0j91zK7YwqD3I42sul6WkIr4m2pP1pXBeD0s-aBJVYMw/viewform') Contactanos
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | Iniciar sessi&oacute;n
              ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                  a.dropdown-item(href='https://anunalog.com/login?service=anunalog') Anunalog
                li
                  a.dropdown-item(href='https://anunalog.com/login?service=anunaloger') Anunaloger