.col-lg-4.lg-px-5
  h3 &Uacute;LTIMOS CONTENIDOS
  a.text-decoration-none.text-dark(href='anunalog-acercando-los-eslabones.html')
    .d-flex.border-bottom.pb-3.mb-3
      img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_13%2Fportada.webp?alt=media&token=705bf709-1134-48f6-9f80-c08251393cdf', alt='anunalog, acercando los eslabones', style='height: 81px; width: 81px; object-fit: cover; object-position: center center;')
      span.px-2 anunalog, acercando los eslabones
  a.text-decoration-none.text-dark(href='historia-de-anunalog.html')
    .d-flex.border-bottom.pb-3.mb-3
      img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_12%2Fportada.jpeg?alt=media&token=cb6cb6b0-abc1-477b-b2c7-9cd3bc1f335c', alt='Historia de anunalog', style='height: 81px; width: 81px; object-fit: cover; object-position: center center;')
      span.px-2 Historia de anunalog