.col-lg-4.lg-px-5
  h3 &Uacute;LTIMOS CONTENIDOS
  a.text-decoration-none.text-dark(href='transporte-de-carga-busqueda-de-choferes-para-camiones.html')
    .d-flex.border-bottom.pb-3.mb-3
      img(src='../img/Transportista.jpg', alt='transporte de carga busqueda de choferes para camiones', style='height: 81px; width: 81px; object-fit: cover; object-position: center center;')
      span.px-2 Transporte de carga busqueda de choferes...
  a.text-decoration-none.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html')
    .d-flex.border-bottom.pb-3.mb-3
      img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_1%2Fportada.jpg?alt=media&token=18a93082-e52e-4b16-a7cd-ca1348e246f8', alt='¿QUÉ TIPO DE VEHÍCULO NECESITO PARA MANTENER LA CADENA DE FRÍO?', style='height: 81px; width: 81px; object-fit: cover; object-position: center center;')
      span.px-2 ¿Que tipo de vehiculo necesito para mant...
  a.text-decoration-none.text-dark(href='nuevas-tendencias-en-gestion-de-almacenes.html')
    .d-flex.border-bottom.pb-3.mb-3
      img(src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_2%2Fportada.jpg?alt=media&token=746b7f66-31b3-48e2-9639-0756ce975d92', alt='nuevas tendencias en gestion de almacenes', style='height: 81px; width: 81px; object-fit: cover; object-position: center center;')
      span.px-2 Nuevas tendencias en gestion de almacene...